---
import '../assets/css/global.css';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { headerProps, sidebarProps } from '../assets/data/dummyData/dummy';

const {title, description, headerLinks = headerProps.links, sidebarLinks = sidebarProps.links} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Blog-Web/favicon.svg" />
		<link rel="icon" href="/Blog-Web/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<!-- <meta name="keywords" content={Astro.props.keywords} /> -->
		<title>{title}</title>
	</head>
	<body>
		<Header links={headerLinks} />
		<div class="layout-body">
			<Sidebar links={sidebarLinks} />
			<main>
				<slot />
			</main>
		</div>
		<Footer />
	</body>
	
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0%;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.layout-body {
		flex: 1;
		display: flex;
		flex-direction: row;
	}

	main {
		flex: 1;
	}
	
</style>
