---
import '../assets/css/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface ILink {
	name: string;
	href: string;
	target?: string;
}
const dummyLinks: ILink[] = [
  {
    name: "Home",
    href: "/Blog-Web/",
  },
  {
    name: "Blog",
    href: "/Blog-Web/blog",
    target: "_blank",
  },
  {
    name: "LLMs",
    href: "#",
  },
]; 

const {title, description, links = dummyLinks} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Blog-Web/favicon.svg" />
		<link rel="icon" href="/Blog-Web/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<!-- <meta name="keywords" content={Astro.props.keywords} /> -->
		<title>{title}</title>
	</head>
	<body>
		<Header links={links}></Header>
		<main>
			<slot />
		</main>
		<Footer></Footer>
	</body>
	
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0%;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
	}
</style>
